<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("TECNUN", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Alunos", "Index", "Home")</li>
                        <li>@Html.ActionLink("Professores", "ListarProfessores", "Professor")</li>
                        <li>@Html.ActionLink("Turma", "ListarTurma", "Turma")</li>
                        <li>@Html.ActionLink("Alunos Martriculados", "BuscarAlunoMatriculados", "Turma")</li>
                    </ul>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>


    <div id="myModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="myModalContent"></div>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>

    <main></main>
    <footer class="container-fluid body-content">
        @Html.Partial("_Footer")
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)

    <script src="~/Scripts/Tecnun.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
</body>
</html>
